<% if flash[:error] %>
<div class="window-outer error-outer row center-xs middle-xs mt-5">
  <div class="col-md-6 col-sm-8 col-xs-12">
    <div class="window">
      <div class="title-bar">
        <div class="title-bar-text">You broke something!</div>
      </div>
      <div class="window-body">
        <p class="flex align-center">
          <%= image_tag 'https://win98icons.alexmeub.com/icons/png/msg_error-0.png', class: 'mr-3' %>
          <%= flash[:error] %>
        </p>
        <div class="flex justify-end">
          <button class="close-window">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
<% if flash[:notice] %>
<div class="error-outer row center-xs middle-xs mt-5">
  <div class="col-md-6 col-sm-8 col-xs-12">
    <div class="window">
      <div class="title-bar">
        <div class="title-bar-text">Boo-yaaaaaaaaaa</div>
      </div>
      <div class="window-body">
        <p class="flex align-center">
          <%= image_tag 'https://win98icons.alexmeub.com/icons/png/trust0-0.png', class: 'mr-3' %>
          <%= flash[:notice] %>
        </p>
        <div class="flex justify-end">
          <button>Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>
