
<div> <h1> <%= link_to event.name, event %> </h1> </div>
<div> 
  <h5> 
    <% event.attendees.pluck('name').join(', ') %>
  </h5> 
</div>


<%= link_to "Attend", attend_event_path(event.id), method: :post %>